{% extends "core/container.html" %}
{% load btm_filters %}
{% block CONTENT %}
    <div class="row">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Background Thread Management Test</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                        <i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form action="{% url "testthreadinfo" %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" name="testinpage">Test in page</button>
                    {#                    <input type="submit" name="testinpage" value="Test in page">#}
                </form>
                <br>
                <form action="{% url "testthreadinfo" %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-info" name="testoutpage">Test out of page</button>
                    {#                    <input type="submit" name="testoutpage" value="Test out of page">#}
                </form>
                <hr>
                {% if tid %}
                    {% if isinpage %}
                        <div style="max-height: 400px;overflow-y: scroll;">
                            {{ tid|thread_info }}
                        </div>
                    {% else %}
                        <script type="text/javascript">

                            window.open("{% url "getthreadinfo" tid%}", '_blank');
                        </script>
                    {% endif %}

                {% endif %}

            </div>
            <!-- /.box-footer -->
        </div>
    </div>
{% endblock %}
{% block EXTRA_CSS %}{% endblock %}
{% block EXTRA_SCRIPT %}{% endblock %}