{% extends "core/container.html" %}

{% block CONTENT %}
    <div class="row">
        <section class="col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <a href="{% url 'getwalist' %}" type="button" class="btn bg-green btn-flat margin">
                        <i class="fa fa-fw fa-backward"></i> Back To The Future</a>
                </div>
                <!-- /.box-body -->
            </div>
        </section>
    </div>

    <div class="row">
        <section class="col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    {% if waform %}
                        <form action="{% url 'addwa' %}" method="post">
                            {% csrf_token %}
                            <table class="table table-responsive">
                                {{ waform.as_table }}
                                <tr>
                                    <td colspan="2" class="text-center text-orange">
                                        Below values are for one time execution and will not be stored !
                                    </td>
                                </tr>
                                <tr>
                                    <th><label for="ext_suname">Superuser Name:</label></th>
                                    <td>
                                        <input type="text" name="ext_suname" value="" class="form-control" placeholder="superuser name" maxlength="50" required="" id="ext_suname">
                                    </td>
                                </tr>
                                <tr>
                                    <th><label for="ext_sumail">Superuser Mail:</label></th>
                                    <td>
                                        <input type="email" name="ext_sumail" value="" class="form-control" placeholder="superuser e-mail" maxlength="50" required="" id="ext_sumail">
                                    </td>
                                </tr>
                                <tr>
                                    <th><label for="ext_supass">Superuser Password:</label></th>
                                    <td>
                                        <input type="password" name="ext_supass" value="" class="form-control" placeholder="superuser pasword" maxlength="50" required="" id="ext_supass">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="submit" class="btn btn-block btn-primary btn-flat" value="Install">
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </form>
                    {% endif %}
                    {% if tid %}
                        {% load btm_filters %}
                        {{ tid|thread_info }}
                    {% endif %}
                </div>
                <!-- /.box-body -->
            </div>
        </section>
    </div>
{% endblock %}
{% block EXTRA_CSS %}{% endblock %}
{% block EXTRA_SCRIPT %}
    <script type="text/javascript">
        $(document).ready(function(){
            dhm.enabletab("#id_localsettings");
        });
    </script>
{% endblock %}
