{% extends "core/container.html" %}

{% block CONTENT %}
    <div class="row">
        <section class="col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <a href="{% url 'addwa' %}" type="button" class="btn bg-green btn-flat margin">New WebApp</a>
                    <a href="#" type="button" class="btn bg-yellow btn-flat margin">Logs</a>
                </div>
                <!-- /.box-body -->
            </div>
        </section>
    </div>
    <div class="row">
        <section class="col-lg-12">
            <div class="box box-success">
                <div class="box-body">
                    <div class="box-group" id="accordion">

                        {% for webapp in webapps %}
                            <div class="panel box box-primary">
                                <div class="box-header with-border">
                                    <h4 class="box-title">

                                        <a data-toggle="collapse" data-parent="#accordion" href="#wadetail{{ webapp.id }}">
                                            {{ webapp.appname }}
                                        </a>
                                    </h4>

                                    <div class="pull-right">
                                        <span class="text-fuchsia" title="Size On Disk"> 120 Mb </span>, &nbsp;
                                        <span class="text-maroon" title="Ram Usage"> 60 Mb </span>, &nbsp;
                                        {% if webapp.isinstalledsuccess %}
                                            <i class="fa fa-fw  fa-cloud-download text-success" title="Succesfully Installed"></i>
                                        {% else %}
                                            <i class="fa fa-fw  fa-cloud-download text-danger" title="Failed On Install"></i>
                                        {% endif %}

                                        <i class="fa fa-fw fa-link text-success" title="running"></i>
                                    </div>
                                </div>

                                <div id="wadetail{{ webapp.id }}" class="panel-collapse collapse">
                                    <div class="box-body">
                                        <table class="table table-responsive">
                                            <tr>
                                                <td class="text-bold text-black"> Application Name:</td>
                                                <td class="text-green">{{ webapp.appname }}</td>
                                                <td class="text-bold text-black"> Settings Folder:</td>
                                                <td class="text-green">{{ webapp.settingsfoldername }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-bold text-black">URL :</td>
                                                <td class="text-blue">
                                                    <a href="{{ webapp.url }}" target="_blank">{{ webapp.url }}</a>
                                                </td>
                                                <td class="text-bold text-black"> Git Url :</td>
                                                <td class="text-blue">
                                                    <a href="{{ webapp.giturl }}" target="_blank">{{ webapp.giturl }}</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-bold text-black">DB Name :</td>
                                                <td class="text-green">{{ webapp.dbname }}</td>
                                                <td class="text-bold text-black">DB User :</td>
                                                <td class="text-green">{{ webapp.dbuser }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-bold text-black">Static Folder :</td>
                                                <td class="text-green">{{ webapp.staticfolder }}</td>
                                                <td class="text-bold text-black">Static Url :</td>
                                                <td class="text-green">{{ webapp.staticurl }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-bold text-black">Media folder :</td>
                                                <td class="text-green">{{ webapp.mediafolder }}</td>
                                                <td class="text-bold text-black">Media Url :</td>
                                                <td class="text-green">{{ webapp.mediaurl }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-bold text-black">Created At :</td>
                                                <td class="text-green">{{ webapp.created_at }}</td>
                                                <td class="text-bold text-black">Updated At :</td>
                                                <td class="text-green">{{ webapp.updated_at }}</td>
                                            </tr>
                                        </table>
                                        <hr>
                                        <div class="btn-group pull-right">
                                            <button type="button" class="btn btn-success btn-flat">
                                                Run
                                            </button>
                                            <button type="button" class="btn btn-warning btn-flat">
                                                Stop
                                            </button>
                                            <button type="button" class="btn btn-primary btn-flat">
                                                Backup
                                            </button>
                                            <button type="button" class="btn btn-info btn-flat">
                                                Update
                                            </button>
                                            <button type="button" class="btn btn-danger btn-flat" onclick="deleteWebApp('{% url "rmwa" appid=webapp.id %}')">
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </section>
    </div>


    <div class="modal modal-danger fade" id="confirmdelete" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Deleting Web App Permenantly</h4>
                </div>
                <div class="modal-body">
                    Are you sure delete app?
                    <br>
                    Maybe you may want to press cancel to backup first...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline" data-dismiss="modal" id="deletewebappconfirm" >Delete</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}
{% block EXTRA_CSS %}{% endblock %}
{% block EXTRA_SCRIPT %}
    <!--suppress JSUnusedLocalSymbols -->
    <script type="text/javascript">
        function deleteWebApp(redurl){
            console.log(redurl);
            $('#confirmdelete').modal(
                {
                    backdrop: 'static',
                    keyboard: false
                }
            ).on('click', '#deletewebappconfirm', function(e){
                console.log(redurl);

                window.location.href = redurl;
            });
        }

    </script>
{% endblock %}
