{% load static %}
<!DOCTYPE html>

<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block TITLE %}Django Hosting Manager{% endblock %}</title>
    <link href="{% static "img/dhm.ico" %}" rel="shortcut icon" type="image/x-icon"/>


    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{% static "vendor/admin-lte/css/bootstrap.min.css" %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static "vendor/admin-lte/css/font-awesome.min.css" %}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{% static "vendor/admin-lte/css/ionicons.min.css" %}">
    <!-- jvectormap -->
    <link rel="stylesheet" href="{% static "vendor/admin-lte/css/jquery-jvectormap.min.css" %}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "vendor/admin-lte/css/dataTables.bootstrap.min.css" %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static "vendor/admin-lte/css/AdminLTE.min.css" %}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{% static "vendor/admin-lte/css/_all-skins.min.css" %}">
    <link rel="stylesheet" href="{% static "css/dhm.css" %}">
    {% block EXTRA_CSS %} {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


</head>
{% block BODY_TAG %}

    <body class="hold-transition skin-green sidebar-mini sidebar-collapse layout-boxed">
{% endblock %}
{% block BODY %}
{% endblock %}



<!-- jQuery 3 -->
<script src="{% static "vendor/admin-lte/js/jquery.min.js" %}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static "vendor/admin-lte/js/bootstrap.min.js" %}"></script>
<!-- DataTables -->
<script src="{% static "vendor/admin-lte/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "vendor/admin-lte/js/dataTables.bootstrap.min.js" %}"></script>
<!-- SlimScroll -->
<script src="{% static "vendor/admin-lte/js/jquery.slimscroll.min.js" %}"></script>
<!-- FastClick -->
<script src="{% static "vendor/admin-lte/js/fastclick.min.js" %}"></script>
<!-- AdminLTE App -->
<script src="{% static "vendor/admin-lte/js/adminlte.min.js" %}"></script>
<!-- Sparkline -->
<script src="{% static "vendor/admin-lte/js/jquery.sparkline.min.js" %}"></script>
<!-- jvectormap  -->
<script src="{% static "vendor/admin-lte/js/jquery-jvectormap-1.2.2.min.js" %}"></script>
<script src="{% static "vendor/admin-lte/js/jquery-jvectormap-world-mill-en.min.js" %}"></script>
<!-- SlimScroll -->
<script src="{% static "vendor/admin-lte/js/jquery.slimscroll.min.js" %}"></script>

<script src="{% static "js/dhm.js" %}"></script>
<script src="{% static "js/dhm_color.js" %}"></script>

{% block EXTRA_SCRIPT %} {% endblock %}
</body>
</html>