{% extends "core/container.html" %}
{% load static %}
{% block CONTENT %}
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="box box-primary collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">DB Configuration</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="display: none;">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <form action="{% url 'coreconfig_db' %}" method="post">
                                <table class="table-responsive">
                                    {{ dbpform.as_table }}
                                </table>
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.col -->
    </div>



    {% if messages %}
        <div class="modal modal-danger fade" id="modal-danger">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Fault</h4>
                    </div>
                    <div class="modal-body">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
    {#MOB:!ERROR MODALS#}
{% endblock %}

{% block EXTRA_SCRIPT %}

    <script>
    </script>
{% endblock %}