{% extends "core/base.html" %}
{% load static %}
{% block BODY %}
    <div class="wrapper">

        <header class="main-header">

            <!-- Logo -->
            <a href="{% url "home" %}" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>DHM</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>DHM</b></span>
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" style="">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-brand">Django Hosting Manager</div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="{% static "img/dhm.png" %}" class="img-circle"
                             alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>DHM Admin</p>
                        <div><i class="fa fa-circle text-success"></i> {{ user.username }}</div>
                    </div>
                </div>
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">Menu</li>
                    <li>
                        <a href="{% url "home" %}">
                            <i class="fa fa-home"></i> <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url "coreconfig" %}">
                            <i class="fa fa-gear"></i> <span>Settings</span>
                        </a>
                    </li>
                    {% for menuitem in menuitems %}

                        <li>
                            <a href="{{ menuitem.menusuburl }}">
                                <i class="fa {{ menuitem.menuiconclass }}"></i> <span>{{ menuitem.modname }}</span>
                            </a>
                        </li>
                    {% endfor %}

                    <li>
                        <a href="{% url "logmeout" %}">
                            <i class="fa fa-sign-out"></i> <span>Log Out</span>
                        </a>
                    </li>
                </ul>

            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content">


                {% block CONTENT %}

                {% endblock %}
            </section>
            <!-- /.content -->
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> Devel
            </div>
            <strong>Django Hosting Manager</strong>
        </footer>

    </div>
{% endblock %}
