{% extends "core/container.html" %}
{% load static %}
{% block CONTENT %}
    <!-- Info boxes -->
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <p class="text-aqua">Deneme</p>
               <p class="text-black">Deneme</p>
               <p class="text-blue">Deneme</p>
               <p class="text-danger">Deneme</p>
               <p class="text-fuchsia">Deneme</p>
               <p class="text-gray">Deneme</p>
               <p class="text-green">Deneme</p>
               <p class="text-info">Deneme</p>
               <p class="text-light-blue">Deneme</p>
               <p class="text-lime">Deneme</p>
               <p class="text-maroon">Deneme</p>
               <p class="text-navy">Deneme</p>
               <p class="text-olive">Deneme</p>
               <p class="text-orange">Deneme</p>
               <p class="text-purple">Deneme</p>
               <p class="text-primary">Deneme</p>
               <p class="text-red">Deneme</p>
               <p class="text-teal">Deneme</p>
               <p class="text-yellow">Deneme</p>
               <p >Deneme</p>
        </div>
        <!-- /.col -->
    </div>



    {% if messages %}
        <div class="modal modal-danger fade" id="modal-danger">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Fault</h4>
                    </div>
                    <div class="modal-body">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
    {#MOB:!ERROR MODALS#}
{% endblock %}

{% block EXTRA_SCRIPT %}

    <script>
    </script>
{% endblock %}