{% extends "core/base.html" %}
{% load static %}
{% block BODY_TAG %}
    <body class="hold-transition login-page">
{% endblock %}
{% block BODY %}
    <div class="login-box">
        {#  <div class="login-logo">#}
        {#    <a href="#"><b>Tikliyor</b> Yönetim Paneli</a>#}
        {#  </div>#}
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Django Hosting Manager</p>
            {% if messages %}
                    {% for message in messages %}
                        <div class="text-danger login-box-msg">{{ message | safe }}</div>
                    {% endfor %}
            {% endif %}

            <form action="{% url "logmein" %}" method="post">
                {% csrf_token %}
                <div class="form-group has-feedback">
                    {{ loginform.username }}
                    {#        <input type="text" class="form-control" placeholder="Kullanıcı Adı">#}
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    {{ loginform.password }}
                    {#                <input type="password" class="form-control" placeholder="Parola">#}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    {{ loginform.kontrol }}
                    {#                <input type="password" class="form-control" placeholder="Parola">#}
{#                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>#}
                </div>
                <div class="row">
                    <div class="col-xs-4">
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Login
                        </button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </div>
        <!-- /.login-box-body -->
    </div>

{% endblock %}
{% block EXTRA_SCRIPT %}
    <script type="text/javascript">

        $("input[name=kontrol_1]").addClass("form-control")
    </script>
{% endblock %}