{% extends "core/container.html" %}
{% load static %}
{% block CONTENT %}
    <!-- Info boxes -->
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
        </div>
        <!-- /.col -->
    </div>



    {% if messages %}
        <div class="modal modal-danger fade" id="modal-danger">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Hata</h4>
                    </div>
                    <div class="modal-body">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
    {#MOB:!ERROR MODALS#}
{% endblock %}

{% block EXTRA_SCRIPT %}
    <script type="text/javascript">
    </script>
{% endblock %}

{% block EXTRA_CSS %}
    <style type="text/css"></style>
{% endblock %}