{% extends "core/container.html" %}
{% load static humanize string_tool %}
{% block CONTENT %}
    <!-- Info boxes -->
    {% if messages %}
        <div class="modal modal-danger fade" id="modal-danger">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Hata</h4>
                    </div>
                    <div class="modal-body">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {#MOB:!ERROR MODALS#}
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-solid">
                <div class="box-header">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">Load Info</h3>
                </div>
                <div class="box-body">
                    <div class="col-sm-6">
                        <!-- Progress bars -->
                        <div class="clearfix">
                            <span id="cpuinfo" class="pull-left">CPU</span>
                            <span id="load_avg"></span>
                            <small id="cpustat" class="pull-right"></small>
                        </div>
                        <div class="progress xs">
                            <div id="cpupercent" class="progress-bar progress-bar-primary" style="width: 0;"></div>
                        </div>

                        <div class="clearfix">
                            <span id="meminfo" class="pull-left">Memory</span>
                            <small id="memstat" class="pull-right"></small>
                        </div>
                        <div class="progress xs">
                            <div id="mempercent" class="progress-bar progress-bar-green" style="width: 0;"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="clearfix">
                            <span id="avgcputempinfo" class="pull-left">Average CPU Temp</span>
                            <small id="avgcputemp" class="pull-right"></small>
                        </div>
                        <div class="progress xs">
                            <div id="avgcputemppercent" class="progress-bar progress-bar-yellow" style="width: 0;"></div>
                        </div>

                        <div class="clearfix">
                            <span id="swapinfo" class="pull-left">Swap Usage</span>
                            <small id="swapstat" class="pull-right"></small>
                        </div>
                        <div class="progress xs">
                            <div id="swappercent" class="progress-bar progress-bar-green" style="width: 0;"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="clearfix">
                            <span id="diskinfo" class="pull-left">Disk Usage "/"</span>
                            <small id="diskstat" class="pull-right"></small>
                        </div>
                        <div class="progress xs">
                            <div id="diskpercent" class="progress-bar progress-bar-primary" style="width: 0;"></div>
                        </div>

                        <div class="clearfix">
                            <span id="pidcountinfo" class="pull-left">Process Count</span>
                            <small id="pidcount" class="pull-right"></small>
                        </div>
                        <div class="progress xs">
                            <div id="pidcountpercent" class="progress-bar progress-bar-yellow" style="width: 0;"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="clearfix">
                            <span id="iorateinfo" class="pull-left">IO Rate</span>
                            <small id="iorate" class="pull-right"></small>
                        </div>
                        <div class="progress xs">
                            <div id="ioratepercent" class="progress-bar progress-bar-green" style="width: 0;"></div>
                        </div>

                        <div class="clearfix">
                            <span id="ioidlerateinfo" class="pull-left">Idle Rate</span>
                            <small id="ioidlerate" class="pull-right"></small>
                        </div>
                        <div class="progress xs">
                            <div id="ioidleratepercent" class="progress-bar progress-bar-yellow" style="width: 0;"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="clearfix">
                            <span id="netreceivedinfo" class="pull-left">Network Received</span>
                            <small id="netreceived" class="pull-right"></small>
                        </div>
                        <div class="progress xs">
                            <div id="netreceivedspeed" class="progress-bar progress-bar-green" style="width: 0;"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="clearfix">
                            <span id="netsentinfo" class="pull-left">Network Sent</span>
                            <small id="netsent" class="pull-right"></small>
                        </div>
                        <div class="progress xs">
                            <div id="netsentspeed" class="progress-bar progress-bar-yellow" style="width: 0;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-tv"></i>
                    <h3 class="box-title">Platform Info</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-default btn-sm" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    {% for key, value in platform.items %}
                        <div class="col-md-4 pull-left">
                            <div class="box box-info box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">{{ key }}</h3>
                                </div>
                                <div class="box-body" style="">
                                    {{ value }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-success box-solid collapsed-box">
                <div class="box-header with-border">
                    <i class="fa fa-calculator"></i>
                    <h3 class="box-title">CPU Info</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-default btn-sm" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    {% for key, value in cpu.items %}
                        {% if key not in register_list %}
                            <div class="col-md-4 pull-left">
                                <div class="box box-info box-solid">
                                    <div class="box-header with-border">
                                        <h3 class="box-title" data-toggle="tool-tip" data-placement="top"
                                            title="{{ value|truncatewords:10 }}">
                                            {{ key|to_space:'_'|title }}
                                        </h3>
                                        <!-- /.box-tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body" style="">
                                        {{ value }}
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- /.box -->
{% endblock %}

{% block EXTRA_SCRIPT %}
    <script>
        function AutoReload() {
            {#refresh_cpu_load();#}
            {#refresh_memory_load();#}
            $.getJSON("{% url 'sys_status' %}", function (data) {
                $("#cpuinfo").html("CPU (" + data.cpucount + " cores)");
                $("#cpustat").html(data.cpupercent + "%");
                $("#load_avg").html("&nbsp; Avg.Load: " + data.load_avg);
                $("#cpupercent").width(data.cpupercent + "%");
                $("#meminfo").html("Memory (" + data.memfree + " / " + data.memtotal + ")");
                $("#memstat").html(data.mempercent + "%");
                $("#mempercent").width(data.mempercent + "%");
                $("#diskinfo").html("Disk (" + data.diskfree + " / " + data.disktotal + ")");
                $("#diskstat").html(data.diskpercent + "%");
                $("#diskpercent").width(data.diskpercent + "%");
                $("#swapinfo").html("Swap (" + data.swapfree + " / " + data.swaptotal + ")");
                $("#swapstat").html(data.swappercent + "%");
                $("#swappercent").width(data.swappercent + "%");
                $("#avgcputemp").html(data.avgcputemp + "&#8451;");
                $("#avgcputemppercent").width(data.avgcputemp + "%");
                $("#pidcount").html(data.pidcount + "");
                $("#pidcountpercent").width(data.pidcountpercent + "%");
                $("#iorate").html(data.iorate + "%");
                $("#ioratepercent").width(data.ioratepercent + "%");
                $("#ioidlerate").html(data.ioidlerate + "%");
                $("#ioidleratepercent").width(data.ioidleratepercent + "%");
                $("#netreceived").html("Total: " + data.netreceived);
                $("#netreceivedinfo").html("Network Received (" + data.netreceivedspeedhr + "/s)");
                $("#netreceivedspeed").width(data.netreceivedspeed + "%");
                $("#netsent").html("Total: " + data.netsent);
                $("#netsentinfo").html("Network Sent (" + data.netsentspeedhr + "/s)");
                $("#netsentspeed").width(data.netsentspeed + "%");
            });
            setTimeout(function () {
                AutoReload();
            }, 1000);
        }

        $(document).ready(function () {
            setTimeout(function () {
                AutoReload();
            }, 1000);
        });
    </script>

{% endblock %}

{% block EXTRA_CSS %}
    <style type="text/css"></style>
{% endblock %}